/* MAKE BOTTOM PART BODY BUBBLES ORANGE
body{
    background: url("../img/bubbles.png");
}*/

 
 /* MAKE NAV FONTS WHITE AND MAKE SIZE OF FONTS BIGGER*/
a {
    color: white;
    font-size: 150%;
}


/*Makes the top blue*/
div#bs-example-navbar-collapse-1 {
    background: #00C3CC;    
    margin: 0px;    
    padding-top: 80px;
}

ul.nav.navbar-nav.navbar-right {
    position: relative;
    bottom: 40px;
}
/* MAKE BUTTON BLUE*/
a.btn2.btn-primary.btn-lg {
    background: #00C3CC;
    text-decoration:none;
}
/* Move image next to h1 tag*/
.img-responsive {
    float: left;
}

#message {
    font-size: 300%;
    position: relative;
    left: 5%;    
}
/* changed color of the text*/
.orange {
    color: #FFA500;
    font-weight: bold;
}
/* changed color of the text*/
.pink {
    color: pink;    
}
/* changed color of the text*/
.blue {
    color: #00C3CC;
}
/* Styles the Button*/
a.btn.btn-primary.btn-lg.active {
    position: relative;
    left: 15%;
    background: orange;
    text-decoration:none;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 1%;
}
/* Styles the Button*/
.btn.btn-secondary.btn-lg.active {
    position: relative;
    left: 15%;
    background: #00C3CC;
    text-decoration:none;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 1%;
    color:white;
    border-color:black;
}
/* Makes the middle part white*/
.container-fluid {
    background-color: white;
    padding-bottom: 18%;
    
/* Positions the Nav Bar*/
}
.navbar-brand {
    position: relative;
    bottom: 75px;
/* Positions the Middle*/
}
.span10 {
    position: relative;
    top: 110px;
    padding-left: 10%;
}
/* Makes the images responsive*/
.img-responsive {
    position: relative;
    top: 110px;
    padding-left: 10%;
}
/* pushes the footer image below the buttons*/
.footer img{
    width:100%;
    height:auto;*
    position: relative;
    bottom: 0;
    max-width:100%;
    background: url("img/bubbles.png");
    padding: 0%;

}
